<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" href="p.css">
<link rel="shortcut icon" type="image/x-icon" href="favicon.png">
<title>batbook</title>
<div id="app" >
	<img src="logo.png" class="rounded mx-auto d-block">
    <input style="width:95%; border-radius:50px; font-size: xx-large; height:8%;" @input="suggeriti"  class="searchBar" placeholder="che libro hai bisogno?" v-model="query" v-on:keyup.enter="location.href=link+query"><br>
    <div v-if="query!==undefined">
      	<div v-for="book in json" @click="location.href='info.html?q='+book.volumeInfo.title" class="row">
      	    <img :src="book.volumeInfo.imageLinks.thumbnail" class="col-lg-1 col-2">
      	   <span class="info"> {{book.volumeInfo.title.split(".")[0]}}<span>
      	</div>

      </div>
    <!--<a style="font-size: 40px" href="https://www.patreon.com/BATBOOK"> sostienici </a>-->
</div>
  

<script>
	var vue=new Vue({
        el:"#app",
		data:{
			query:document.getElementsByTagName("input")[0].value,
			link:"search.html?q=",
			json:""
		},
		methods:{
			suggeriti:function(){
				fetch("https://www.googleapis.com/books/v1/volumes?download=DOWNLOAD_UNDEFINED&filter=FILTER_UNDEFINED&langRestrict=it&libraryRestrict=LIBRARY_RESTRICT_UNDEFINED&maxAllowedMaturityRating=MAX_ALLOWED_MATURITY_RATING_UNDEFINED&orderBy=relevance&printType=BOOKS&projection=FULL&q="+this.query)
                .then(response => response.json())
                .then(data => {this.json=data.items.slice(0,3)});
			}
		}

	})
</script>